/* Mobile */
@media (min-width: 375px) and (max-width: 576px) {
    .calculator {
      position: relative;
      height: 100vh;
    }
  }

/* Desktop */
@media only screen and (max-width: 1440px) {
    
  } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
}


.calculator {
    position: relative;
    height: 35vh;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.column {
  float: left;
  max-width: 50%;
}

.bill {
  font-size: 24px;
  width: 90%;
  padding: 7px;
  background-color: hsl(189, 41%, 97%);
  border: hsl(189, 41%, 97%);
  background-image: url('./images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 10px 1rem;
}

.bill:active {
  border: hsl(172, 67%, 45%);
}

.persons {
  width: 90%;
  font-size: 24px;
  padding: 5px;
  background-color: hsl(189, 41%, 97%);
  border: hsl(189, 41%, 97%);
  background-image: url('./images/icon-person.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 10px 1rem;
}

.space {
  padding: 10px;
}

.tip-perc {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
  margin: 1px;
  padding: 5px;
  width: 30%;
  background-color: hsl(183, 100%, 15%);
  border: 1px solid hsl(183, 100%, 15%);
  border-radius: 5px;
}

.tip-perc:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
  border: none;
}

.custom {
  font-size: 22px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: hsl(184, 14%, 56%);
  width: 30%;
  margin: 1px;
  padding: 5px;
  background-color: hsl(189, 41%, 97%);
  border: none;
}

.container-bckgrnd {
  margin: 20px;
  background-color: hsl(183, 100%, 15%);
  height: auto;
  border-radius: 10px;
  padding: 20px;
}

.figures {
  list-style-type: none;
}

.figures li {
  display: inline-block;
}

.amount {
  float: right;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.tip-amount {
  color: #fff;
}

sub {
  color: hsl(185, 41%, 84%);
}

.total {
  color: #fff;
}

.reset {
  display: block;
  margin: auto;
  width: 60%;
  padding: 5px;
  background-color: hsl(172, 67%, 45%);
  border: 1px solid hsl(172, 67%, 45%);
  border-radius: 5px;
}